.contact {
  position: relative;
  height: 100vh;
  color: aliceblue;
  background-color: var(--first-color);
}

.contact-bg {
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: var(--third-color);
}

.contact-wrapper {
  padding: 50px;
  display: flex;
}

.contact-left {
  flex: 1;
}

.contact-right {
  flex: 1;
}

.contact-title {
  font-family: "Baskerville", sans-serif;
  font-size: 50px;
  font-weight: 400;
  width: 80%;
}

.contact-info-item {
  display: flex;
  align-items: center;
  margin: 50px 0px;
  font-weight: 300;
  width: 75%;
}

.contact-icon {
  color: var(--third-color);
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
