.product {
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: solid 2px #a3cef1;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
}

.project-browser {
  height: 20px;
  background-color: var(--third-color);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.project-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color: aliceblue;
}

.project-img {
  width: 100%;
  transition: all 10s ease;
  z-index: 3;
}

.product:hover .product-img {
  transform: translateY(-100%);
}
