.project-wrapper {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
}

.project-card {
  width: 30vh;
  height: 50vh;
  margin: 10px;
  border: solid 2px #a3cef1;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
}

/* .project-browser {
  height: 20px;
  background-color: var(--third-color);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.project-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color: aliceblue;
} */

/* .project-img {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  width: 100%;
} */
